apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: mobi-backend-ingress
  namespace: mobi-dev
spec:
  ingressClassName: nginx
  rules:
    - http:
        paths:
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: mobi-backend
                port:
                  number: 8000
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: mobi-frontend-ingress
  namespace: mobi-dev
spec:
  ingressClassName: nginx
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: mobi-frontend
                port:
                  number: 80
