apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: mobi-ingress
  namespace: mobi-dev
  annotations:
    kubernetes.io/ingress.class: nginx
spec:
  rules:
    - http:
        paths:
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: mobi-backend
                port:
                  number: 8000
          - path: /
            pathType: Prefix
            backend:
              service:
                name: mobi-frontend
                port:
                  number: 80
